<HOST_POOL>
  <HOST>
    <ID>448</ID>
    <NAME>bonfire-blade-4</NAME>
    <STATE>2</STATE>
    <IM_MAD>im_xen</IM_MAD>
    <VM_MAD>vmm_xen</VM_MAD>
    <VN_MAD>dummy</VN_MAD>
    <LAST_MON_TIME>1373530192</LAST_MON_TIME>
    <CLUSTER_ID>-1</CLUSTER_ID>
    <CLUSTER/>
    <HOST_SHARE>
      <DISK_USAGE>0</DISK_USAGE>
      <MEM_USAGE>24379392</MEM_USAGE>
      <CPU_USAGE>2350</CPU_USAGE>
      <MAX_DISK>0</MAX_DISK>
      <MAX_MEM>66778144</MAX_MEM>
      <MAX_CPU>2400</MAX_CPU>
      <FREE_DISK>0</FREE_DISK>
      <FREE_MEM>40992768</FREE_MEM>
      <FREE_CPU>2383</FREE_CPU>
      <USED_DISK>0</USED_DISK>
      <USED_MEM>25785376</USED_MEM>
      <USED_CPU>18</USED_CPU>
      <RUNNING_VMS>17</RUNNING_VMS>
    </HOST_SHARE>
    <TEMPLATE>
      <ARCH><![CDATA[x86_64]]></ARCH>
      <CLUSTER><![CDATA[default]]></CLUSTER>
      <CPUSPEED><![CDATA[2000]]></CPUSPEED>
      <ERROR>
        <MESSAGE><![CDATA[Error monitoring host 448 : MONITOR FAILURE 448 -
]]></MESSAGE>
        <TIMESTAMP><![CDATA[Wed Jul 10 16:00:57 2013]]></TIMESTAMP>
      </ERROR>
      <FREECPU><![CDATA[2383]]></FREECPU>
      <FREEMEMORY><![CDATA[40992768]]></FREEMEMORY>
      <HOSTNAME><![CDATA[bonfire-blade-4]]></HOSTNAME>
      <HYPERVISOR><![CDATA[xen]]></HYPERVISOR>
      <MODELNAME><![CDATA[Intel(R) Xeon(R) CPU E5-2620 0 @ 2.00GHz]]></MODELNAME>
      <NETRX><![CDATA[2562417]]></NETRX>
      <NETTX><![CDATA[21213233]]></NETTX>
      <TOTALCPU><![CDATA[2400]]></TOTALCPU>
      <TOTALMEMORY><![CDATA[66778144]]></TOTALMEMORY>
      <USEDCPU><![CDATA[18]]></USEDCPU>
      <USEDMEMORY><![CDATA[25785376]]></USEDMEMORY>
    </TEMPLATE>
  </HOST>
  <HOST>
    <ID>450</ID>
    <NAME>bonfire-blade-2</NAME>
    <STATE>2</STATE>
    <IM_MAD>im_xen</IM_MAD>
    <VM_MAD>vmm_xen</VM_MAD>
    <VN_MAD>dummy</VN_MAD>
    <LAST_MON_TIME>1373530192</LAST_MON_TIME>
    <CLUSTER_ID>-1</CLUSTER_ID>
    <CLUSTER/>
    <HOST_SHARE>
      <DISK_USAGE>0</DISK_USAGE>
      <MEM_USAGE>24641536</MEM_USAGE>
      <CPU_USAGE>2400</CPU_USAGE>
      <MAX_DISK>0</MAX_DISK>
      <MAX_MEM>66778144</MAX_MEM>
      <MAX_CPU>2400</MAX_CPU>
      <FREE_DISK>0</FREE_DISK>
      <FREE_MEM>40729600</FREE_MEM>
      <FREE_CPU>2392</FREE_CPU>
      <USED_DISK>0</USED_DISK>
      <USED_MEM>26048544</USED_MEM>
      <USED_CPU>8</USED_CPU>
      <RUNNING_VMS>16</RUNNING_VMS>
    </HOST_SHARE>
    <TEMPLATE>
      <ARCH><![CDATA[x86_64]]></ARCH>
      <CLUSTER><![CDATA[default]]></CLUSTER>
      <CPUSPEED><![CDATA[2000]]></CPUSPEED>
      <ERROR>
        <MESSAGE><![CDATA[Error monitoring host 450 : MONITOR FAILURE 450 -
]]></MESSAGE>
        <TIMESTAMP><![CDATA[Wed Jul 10 16:00:57 2013]]></TIMESTAMP>
      </ERROR>
      <FREECPU><![CDATA[2392]]></FREECPU>
      <FREEMEMORY><![CDATA[40729600]]></FREEMEMORY>
      <HOSTNAME><![CDATA[bonfire-blade-2]]></HOSTNAME>
      <HYPERVISOR><![CDATA[xen]]></HYPERVISOR>
      <MODELNAME><![CDATA[Intel(R) Xeon(R) CPU E5-2620 0 @ 2.00GHz]]></MODELNAME>
      <NETRX><![CDATA[914261]]></NETRX>
      <NETTX><![CDATA[10884745]]></NETTX>
      <TOTALCPU><![CDATA[2400]]></TOTALCPU>
      <TOTALMEMORY><![CDATA[66778144]]></TOTALMEMORY>
      <USEDCPU><![CDATA[8]]></USEDCPU>
      <USEDMEMORY><![CDATA[26048544]]></USEDMEMORY>
    </TEMPLATE>
  </HOST>
  <HOST>
    <ID>451</ID>
    <NAME>bonfire-blade-3</NAME>
    <STATE>2</STATE>
    <IM_MAD>im_xen</IM_MAD>
    <VM_MAD>vmm_xen</VM_MAD>
    <VN_MAD>dummy</VN_MAD>
    <LAST_MON_TIME>1373530192</LAST_MON_TIME>
    <CLUSTER_ID>-1</CLUSTER_ID>
    <CLUSTER/>
    <HOST_SHARE>
      <DISK_USAGE>0</DISK_USAGE>
      <MEM_USAGE>25165824</MEM_USAGE>
      <CPU_USAGE>2400</CPU_USAGE>
      <MAX_DISK>0</MAX_DISK>
      <MAX_MEM>66778144</MAX_MEM>
      <MAX_CPU>2400</MAX_CPU>
      <FREE_DISK>0</FREE_DISK>
      <FREE_MEM>40201216</FREE_MEM>
      <FREE_CPU>2383</FREE_CPU>
      <USED_DISK>0</USED_DISK>
      <USED_MEM>26576928</USED_MEM>
      <USED_CPU>17</USED_CPU>
      <RUNNING_VMS>15</RUNNING_VMS>
    </HOST_SHARE>
    <TEMPLATE>
      <ARCH><![CDATA[x86_64]]></ARCH>
      <CLUSTER><![CDATA[default]]></CLUSTER>
      <CPUSPEED><![CDATA[2000]]></CPUSPEED>
      <ERROR>
        <MESSAGE><![CDATA[Error monitoring host 451 : MONITOR FAILURE 451 -
]]></MESSAGE>
        <TIMESTAMP><![CDATA[Wed Jul 10 16:00:57 2013]]></TIMESTAMP>
      </ERROR>
      <FREECPU><![CDATA[2383]]></FREECPU>
      <FREEMEMORY><![CDATA[40201216]]></FREEMEMORY>
      <HOSTNAME><![CDATA[bonfire-blade-3]]></HOSTNAME>
      <HYPERVISOR><![CDATA[xen]]></HYPERVISOR>
      <MODELNAME><![CDATA[Intel(R) Xeon(R) CPU E5-2620 0 @ 2.00GHz]]></MODELNAME>
      <NETRX><![CDATA[5539289]]></NETRX>
      <NETTX><![CDATA[15084127]]></NETTX>
      <TOTALCPU><![CDATA[2400]]></TOTALCPU>
      <TOTALMEMORY><![CDATA[66778144]]></TOTALMEMORY>
      <USEDCPU><![CDATA[17]]></USEDCPU>
      <USEDMEMORY><![CDATA[26576928]]></USEDMEMORY>
    </TEMPLATE>
  </HOST>
  <HOST>
    <ID>552</ID>
    <NAME>bonfire-blade-1</NAME>
    <STATE>2</STATE>
    <IM_MAD>im_xen</IM_MAD>
    <VM_MAD>vmm_xen</VM_MAD>
    <VN_MAD>dummy</VN_MAD>
    <LAST_MON_TIME>1373530192</LAST_MON_TIME>
    <CLUSTER_ID>-1</CLUSTER_ID>
    <CLUSTER/>
    <HOST_SHARE>
      <DISK_USAGE>0</DISK_USAGE>
      <MEM_USAGE>24379392</MEM_USAGE>
      <CPU_USAGE>2350</CPU_USAGE>
      <MAX_DISK>0</MAX_DISK>
      <MAX_MEM>66778144</MAX_MEM>
      <MAX_CPU>2400</MAX_CPU>
      <FREE_DISK>0</FREE_DISK>
      <FREE_MEM>40990720</FREE_MEM>
      <FREE_CPU>2384</FREE_CPU>
      <USED_DISK>0</USED_DISK>
      <USED_MEM>25787424</USED_MEM>
      <USED_CPU>16</USED_CPU>
      <RUNNING_VMS>16</RUNNING_VMS>
    </HOST_SHARE>
    <TEMPLATE>
      <ARCH><![CDATA[x86_64]]></ARCH>
      <CLUSTER><![CDATA[default]]></CLUSTER>
      <CPUSPEED><![CDATA[2000]]></CPUSPEED>
      <ERROR>
        <MESSAGE><![CDATA[Error monitoring host 552 : MONITOR FAILURE 552 -
]]></MESSAGE>
        <TIMESTAMP><![CDATA[Wed Jul 10 16:00:57 2013]]></TIMESTAMP>
      </ERROR>
      <FREECPU><![CDATA[2384]]></FREECPU>
      <FREEMEMORY><![CDATA[40990720]]></FREEMEMORY>
      <HOSTNAME><![CDATA[bonfire-blade-1]]></HOSTNAME>
      <HYPERVISOR><![CDATA[xen]]></HYPERVISOR>
      <MODELNAME><![CDATA[Intel(R) Xeon(R) CPU E5-2620 0 @ 2.00GHz]]></MODELNAME>
      <NETRX><![CDATA[1193411]]></NETRX>
      <NETTX><![CDATA[12555333]]></NETTX>
      <TOTALCPU><![CDATA[2400]]></TOTALCPU>
      <TOTALMEMORY><![CDATA[66778144]]></TOTALMEMORY>
      <USEDCPU><![CDATA[16]]></USEDCPU>
      <USEDMEMORY><![CDATA[25787424]]></USEDMEMORY>
    </TEMPLATE>
  </HOST>
</HOST_POOL>
